.App{
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-body{
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


@keyframes slideInFromBottom {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideOutToBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(200%);
    }
}

.wallet-display{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-evenly;
    /* border: 1px solid rgba(255, 255, 255, 0.467); */
}

.normal-mode-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

  @keyframes slideFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}

  .alert-div{
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 3;
    background-color: #202126;
    height: 70px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    animation: 0.5s ease-out 0s 1 slideFromRight;
    padding: 20px;
  }

  .hidden{
    display: none
  }