body{
    margin: 0;
    padding: 0;
    /* background-color: #2f3437; */
    /* background-color: #242831; */
    /* background-color: rgba(0, 0, 0); */
    /* background-color: #06141B; */
    background-color: #0e0f14;
    color: white;
}